.theme-button{
    width: 80px;
    height: 80px;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    transition: width .5s ease-in-out, height .5s ease-in-out;
}

.theme-button:hover{
    cursor: pointer;
    width: 78px;
    height: 78px;
    size: 1px;
}

.theme-button:active{
    width: 60px;
    height: 60px;
}