.theme-button{
    width: 50px;
    height: 50px;
    padding: .1rem .5rem;
    transition: width .5s ease-in-out, height .5s ease-in-out;
}

.theme-button:hover{
    cursor: pointer;
    /* width: 30px;
    height: 30px;
    size: 1px; */
}

/* .theme-button:active{
    width: 25px;
    height: 25px;
} */

@media only screen and (max-width:600px) {
    .theme-button{
        width: 30px;
        height: 30px;
        padding: .1rem .5rem;
        transition: width .5s ease-in-out, height .5s ease-in-out;
    }    
  }
  
  
  @media only screen and (max-width:300px) {
    .theme-button{
        width: 30px;
        height: 30px;
        padding: .1rem .5rem;
        transition: width .5s ease-in-out, height .5s ease-in-out;
    }
  }