.App{
    text-align: center;
  }

.name-title{
  font-weight: 900;
}

.introduction{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-logo{
  width: 500px;
}


@media only screen and (max-width:600px) {
  .App::before{
    content: '';
    display: block;
    height: 10vh;
  }
  .introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-logo{
    width: 300px;
  }
}


@media only screen and (max-width:300px) {
  .App::before{
    content: '';
    display: block;
    height: 10vh;
  }
  .introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-logo{
    width: 250px;
  }
}