@import url('./colors.css');
@import url('./fonts.css');

body{
    margin: 0;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    transition: background-color .10ms linear;
    font-family: ubuntu-bold;
  }